{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools-items %}
    {% if original and original.payment_method == 'INVOICE' %}
        <div class="form-group">
            <a href="{% url 'sale_resend_invoice' original.id %}" class="btn btn-warning form-control">
                <i class="fas fa-paper-plane mr-1"></i> Rechnung erneut senden
            </a>
        </div>
        <div class="form-group">
            <a href="{% url 'sale_invoice_pdf' original.id %}" target="_blank" class="btn btn-secondary form-control">
                <i class="fas fa-file-pdf mr-1"></i> Rechnung als PDF
            </a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
